#skill {
    margin: 0rem 5rem;
    margin-top: 10vh;

    @media (max-width: 800px) {
        margin: 0rem 1rem;
    }

    .skill__inner {
        .skill__title {
            height: 5vw;
            font-size: 4vw;
            font-weight: 400;
            font-family: var(--mainKor-font);
            text-transform: uppercase;
            color: var(--black100);
            border-bottom: 0.4vw solid var(--black300);

            @media (max-width: 800px) {
                margin-bottom: 10vw;
                font-size: 1rem;
                top: 100px;
            }

            cursor: default
        }

        .skill__item {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            margin: 1rem;

            .skill__name {
                font-size: 2vw;
                text-align: center;

                @media (max-width: 800px) {
                    font-size: 1rem;
                }

                cursor: default
            }

            .skill__desc {
                font-size: 1vw;
                text-align: center;

                @media (max-width: 800px) {
                    font-size: 1rem;
                }

                cursor: default
            }

            .skill__bar {
                height: 2rem;
                background-color: var(--black300);
                margin-top: 1rem;
                border-radius: 1rem;
            }
        }

    }

}